[bumpversion]
current_version = 0.1.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<prerelease>[0-9A-Za-z.-]+))?
serialize =
        {major}.{minor}.{patch}-{prerelease}
        {major}.{minor}.{patch}
commit = False
tag = False
tag_name = v{new_version}
message = Bump version: {current_version} -> {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = openlinktoken_ext_truveta-{current_version}-py3-none-any.whl
replace = openlinktoken_ext_truveta-{new_version}-py3-none-any.whl

[bumpversion:file:src/main/openlinktoken_ext_truveta/extension.py]
search = return "{current_version}"
replace = return "{new_version}"

[bumpversion:file:src/test/openlinktoken_ext_truveta/test_extension.py]
search = assert self.ext.version == "{current_version}"
replace = assert self.ext.version == "{new_version}"
